@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark leading-loose;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline-light {
    -webkit-text-stroke: 1px #333333;
  }
  .text-outline-light-hover {
    -webkit-text-stroke: 1px #d4af37;
  }
  .text-outline-dark {
    -webkit-text-stroke: 1px #eaeaea;
  }
  .text-outline-dark-hover {
    -webkit-text-stroke: 1px #800020;
  }
}
